In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import numpy as np

In [5]:
columns_actions = ["Load Case","N [kN]", "M [kNm]", "V [kN]" ]
rows_actions = [["LC1",-100,1500,300],["LC2",-100,1300,400]]
uls_act_df = pd.DataFrame(data=rows_actions, columns=columns_actions)

In [6]:
uls_act_df

  Load Case  N [kN]  M [kNm]  V [kN]
0       LC1    -100     1500     300
1       LC2    -100     1300     400

In [8]:
len(uls_act_df["Load Case"])

2

In [9]:
uls_act_df.loc[0]["N [kN]"]

-100

In [11]:
list(uls_act_df["N [kN]"])

[-100, -100]

In [24]:
for idx, row in uls_act_df.iterrows():
    print(row[0])
    print (idx)

LC1
0
LC2
1

In [25]:
len(columns_actions)

4