In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from sections_EC2_module import concrete_EC2

In [3]:
c=concrete_EC2(25)

In [4]:
c.eps_c1

0.0020693662482105194

In [ ]:

#test tabla-------------------------------------------------------------------------------------
# with col1_3:
#     if "df" not in st.session_state:
#         st.session_state.df = pd.DataFrame(columns=["Sepal Length", 
#                                                 "Sepal Width", 
#                                                 "Petal Length", 
#                                                 "Petal Width", 
#                                                 "Variety"])

#     st.subheader("Add Record")

#     num_new_rows = st.sidebar.number_input("Add Rows",1,50)
#     ncol = st.session_state.df.shape[1]  # col count
#     rw = -1

#     with st.form(key="add form", clear_on_submit= True):
#         cols = st.columns(ncol)
#         rwdta = []

#         for i in range(ncol):
#             rwdta.append(cols[i].text_input(st.session_state.df.columns[i]))

#     # you can insert code for a list comprehension here to change the data (rwdta) 
#     # values into integer / float, if required

#         if st.form_submit_button("Add"):
#             if st.session_state.df.shape[0] == num_new_rows:
#                 st.error("Add row limit reached. Cant add any more records..")  
#             else:
#                 rw = st.session_state.df.shape[0] + 1
#                 st.info(f"Row: {rw} / {num_new_rows} added")
#                 st.session_state.df.loc[rw] = rwdta

#                 if st.session_state.df.shape[0] == num_new_rows:
#                     st.error("Add row limit reached...")

#     st.dataframe(st.session_state.df)

#---------------------------------------------------------------------------------------------------

In [5]:
import pandas as pd
import numpy as np

In [75]:
edited_df = pd.DataFrame(
                [{"Bars diameter [mm]":25, "Number of bars":4, "cover [mm]":50},
                 {"Bars diameter [mm]":25, "Number of bars":0, "cover [mm]":50},
                 {"Bars diameter [mm]":25, "Number of bars":4, "cover [mm]":50},
                 {"Bars diameter [mm]":25, "Number of bars":0, "cover [mm]":50},
                 {"Bars diameter [mm]":25, "Number of bars":2, "cover [mm]":50},
                 {"Bars diameter [mm]":25, "Number of bars":0, "cover [mm]":50},
                 ], index=["Top layer 1",
                           "Top layer 2",
                            "Bottom layer 1",
                            "Bottom layer 2",
                            "Side layer 1",
                            "Side layer 2"]
)

In [76]:
diameters = edited_df.loc[:,"Bars diameter [mm]"]
diameters
areas = (np.pi*diameters**2)/4
areas

Top layer 1       490.873852
Top layer 2       490.873852
Bottom layer 1    490.873852
Bottom layer 2    490.873852
Side layer 1      490.873852
Side layer 2      490.873852
Name: Bars diameter [mm], dtype: float64

In [39]:
modified_df.loc["Top layer 1"]["Bars diameter [mm]"]

25.0

In [77]:
modified_df = pd.concat([edited_df,areas],axis=1)
modified_df.columns=["Bars diameter [mm]","Number of bars","Cover [mm]","Area"]
modified_df

                Bars diameter [mm]  Number of bars  Cover [mm]        Area
Top layer 1                     25               4          50  490.873852
Top layer 2                     25               0          50  490.873852
Bottom layer 1                  25               4          50  490.873852
Bottom layer 2                  25               0          50  490.873852
Side layer 1                    25               2          50  490.873852
Side layer 2                    25               0          50  490.873852

In [9]:
modified_df.index

Index(['Top layer 1', 'Top layer 2', 'Bottom layer 1', 'Bottom layer 2',
       'Side layer 1', 'Side layer 2'],
      dtype='object')

In [10]:
modified_df.loc["Top layer 1"].name[0:3]

'Top'

In [54]:
name

Bars diameter [mm]     25.000000
Number of bars          4.000000
cover [mm]             50.000000
Area                  490.873852
Name: Top layer 1, dtype: float64

In [11]:
test_serie = modified_df.loc["Top layer 1"]
test_serie

Bars diameter [mm]     25.000000
Number of bars          4.000000
Cover [mm]             50.000000
Area                  490.873852
Name: Top layer 1, dtype: float64

In [12]:
test_serie["Bars diameter [mm]"]

25.0

In [57]:
def rect_df_list(bars_df:pd.Series,
                height:float,
                width:float
             )->list[list[float]]:

    diam = bars_df["Bars diameter [mm]"]
    area = bars_df["Area"]
    nr_bars = int(bars_df["Number of bars"])
    cover = bars_df["Cover [mm]"]
    bar_list=[]
    
    if bars_df.name == "Top layer 1":
        s = (width -2*cover)/(nr_bars-1)
        x = -width/2+cover
        y = height/2-cover
    elif bars_df.name == "Top layer 2":
        s = (width -2*cover)/(nr_bars-1)
        x = -width/2+cover
        y = height/2-cover-diam
    elif bars_df.name == "Bottom layer 1":
        s = (width -2*cover)/(nr_bars-1)
        x = -width/2+cover
        y = -height/2+cover
    elif bars_df.name == "Bottom layer 2":
        s = (width -2*cover)/(nr_bars-1)
        x = -width/2+cover
        y = -height/2+cover+diam
    elif bars_df.name == "Side layer 1":
        nr_bars=nr_bars+2
        s = (height -2*cover)/(nr_bars-1)
        x = -width/2+cover
        y = -height/2+cover
    elif bars_df.name == "Side layer 2":
        nr_bars=nr_bars+2
        s = (height -2*cover)/(nr_bars-1)
        x = -width/2+cover+diam
        y = -height/2+cover

    for i in range(nr_bars):
        if area == 0:
            continue
        elif i ==0:
            if bars_df.name[0:4] == "Side":
                continue
            else:
                sub_list = [area, x, y]
        elif i== (nr_bars-1) and bars_df.name[0:4] == "Side":
            continue
        else:
            if bars_df.name[0:4] == "Side":
                y=y+s
            else:
                x=x+s
            sub_list = [area, x, y]
        bar_list.append(sub_list)
    
    return bar_list

In [78]:
bar_list = modified_df.apply(rect_df_list, axis=1, args=(1000,1000))

In [79]:
bar_list

Top layer 1       [[490.8738521234052, -450.0, 450.0], [490.8738...
Top layer 2                                                      []
Bottom layer 1    [[490.8738521234052, -450.0, -450.0], [490.873...
Bottom layer 2                                                   []
Side layer 1      [[490.8738521234052, -450.0, -150.0], [490.873...
Side layer 2                                                     []
dtype: object

In [67]:
bar_list.iloc[0]

[[490.8738521234052, -450.0, 450.0],
 [490.8738521234052, -150.0, 450.0],
 [490.8738521234052, 150.0, 450.0],
 [490.8738521234052, 450.0, 450.0]]

In [72]:
 for bar in range(len(bar_list)):
    if not bar:
         continue
    else:
        print(bar_list.iloc[bar])

[[490.8738521234052, -450.0, 425.0], [490.8738521234052, -150.0, 425.0], [490.8738521234052, 150.0, 425.0], [490.8738521234052, 450.0, 425.0]]
[[490.8738521234052, -450.0, -450.0], [490.8738521234052, -150.0, -450.0], [490.8738521234052, 150.0, -450.0], [490.8738521234052, 450.0, -450.0]]
[]
[[490.8738521234052, -450.0, -150.0], [490.8738521234052, -450.0, 150.0]]
[[490.8738521234052, -425.0, -150.0], [490.8738521234052, -425.0, 150.0]]

In [107]:
bar_list.index()

TypeError: 'Index' object is not callable